#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey;
}
.travel_maindiv{
    border: 1px solid orange;
    padding-left: 0px;
    padding-right: 0px;
    float: none;}
.travel_maindiv img{
    width: 100%;
    }
.travel_maindiv hr{
    width: 230px;
}
.travel_maindiv h5, .travel_maindiv p{
    margin-left: 20px;
}
    
    
